<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeName</key>
			<string>AGT Story File</string>
			<key>LSHandlerRank</key>
			<string>Default</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.agt</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>d$$$$</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>AGT dollar Story</string>
			<key>CFBundleTypeRole</key>
			<string>None</string>
			<key>LSHandlerRank</key>
			<string>None</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.ddollardollar</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
		</dict>
	</array>
	<key>CFBundleSignature</key>
	<string>YZZY</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>NSPrincipalClass</key>
	<string>$(PRODUCT_MODULE_NAME).AGT</string>
	<key>UTImportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.content</string>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>AGT Story</string>
			<key>UTTypeIdentifier</key>
			<string>public.agt</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>agx</string>
				</array>
				<key>com.apple.ostype</key>
				<array>
					<string>AGTS</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.content</string>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>AGT Dollar Story</string>
			<key>UTTypeIdentifier</key>
			<string>public.ddollardollar</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>d$$$$</string>
				</array>
			</dict>
		</dict>
	</array>
	<key>ZoomPlugin</key>
	<dict>
		<key>Author</key>
		<string>C.W. Betts</string>
		<key>DisplayName</key>
		<string>AGT</string>
		<key>Image</key>
		<string>../../Resources/GlkClient.icns</string>
		<key>InterpreterAuthor</key>
		<string>Robert Masenten</string>
		<key>InterpreterVersion</key>
		<string>1.1.1</string>
		<key>Version</key>
		<string>$(CURRENT_PROJECT_VERSION)</string>
		<key>ZoomVersion</key>
		<integer>112</integer>
	</dict>
</dict>
</plist>
