<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist SYSTEM "file://localhost/System/Library/DTDs/PropertyList.dtd">
<plist version="0.9">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>z3</string>
				<string>z4</string>
				<string>z5</string>
				<string>z6</string>
				<string>z7</string>
				<string>z8</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>zoom-game.icns</string>
			<key>CFBundleTypeName</key>
			<string>Z-Code game</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>ZCOD</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>qut</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>zoom-file.icns</string>
			<key>CFBundleTypeName</key>
			<string>Quetzal saved game</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>IFZS</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>blb</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>zoom-file.icns</string>
			<key>CFBundleTypeName</key>
			<string>Blorb resource bundle</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>IFRS</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>zlb</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>zoom-game.icns</string>
			<key>CFBundleTypeName</key>
			<string>Z-Code blorb bundle</string>
			<key>CFBundleTypeOSTypes</key>
			<array/>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array/>
			<key>CFBundleTypeIconFile</key>
			<string>zoom-file.icns</string>
			<key>CFBundleTypeName</key>
			<string>Z-Code game memory save</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<key>BINA</key>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>Zoom</string>
	<key>CFBundleHelpBookFolder</key>
	<string>Zoom Help</string>
	<key>CFBundleHelpBookName</key>
	<string>Zoom Help</string>
	<key>CFBundleIconFile</key>
	<string>zoom-app.icns</string>
	<key>CFBundleIdentifier</key>
	<string>uk.org.logicalshift.Zoom</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Zoom</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.1</string>
	<key>CFBundleSignature</key>
	<string>YZZY</string>
	<key>CFBundleVersion</key>
	<string>1.0.1</string>
</dict>
</plist>
