<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Auto Encode</key>
	<string>FALSE</string>
	<key>Auto Open</key>
	<string>TRUE</string>
	<key>Background Image Path</key>
	<string>images/Imagebackground_01.png</string>
	<key>Build Format</key>
	<string>DMG (OS X only)</string>
	<key>Custom Icon Path</key>
	<string>Zoom-diskImage.icns</string>
	<key>Disk Image Name</key>
	<string>~/Desktop/Zoom.dmg</string>
	<key>Encode Format</key>
	<string>None</string>
	<key>Encryption Type</key>
	<string>None</string>
	<key>Finalize Format</key>
	<string>Read-only with compression</string>
	<key>Icon Size</key>
	<string>128</string>
	<key>Image Size Extra</key>
	<string>0</string>
	<key>Image Size Type</key>
	<string>Automatic</string>
	<key>Internet Enable</key>
	<string>FALSE</string>
	<key>Item List</key>
	<array>
		<dict>
			<key>Origin</key>
			<string>{277, 30}</string>
			<key>Path</key>
			<string>/Users/ahunter/prog/zoom/build/Deployment/Zoom.app</string>
			<key>Type</key>
			<string>File Item</string>
		</dict>
		<dict>
			<key>Origin</key>
			<string>{277, 189}</string>
			<key>Path</key>
			<string>/Users/ahunter/prog/zoom/src/macos/macreadme.rtf</string>
			<key>Type</key>
			<string>File Item</string>
		</dict>
	</array>
	<key>License List</key>
	<array/>
	<key>Lock Frame</key>
	<string>TRUE</string>
	<key>Project File Path</key>
	<string>/Volumes/Dolomite/prog/zoom/distribution/</string>
	<key>Show Toolbar</key>
	<string>TRUE</string>
	<key>Volume Name</key>
	<string>Zoom</string>
	<key>Window Frame</key>
	<string>{{168, 75}, {459, 467}}</string>
</dict>
</plist>
