
body           {background-color: white; 
	        color:       black;
	        font-family: sans-serif;
	        text-align:  justify}
p              {background-color: white; 
	        color:       black;
	        font-family: sans-serif;
	        text-align:  justify}
dt	       {font-weight: bold;
		font-size:   12pt;
		padding-top: 12pt}
dd	       {font-weight:normal;
		font-size:   11pt}
h1             {text-align:  center; 
                font-weight: bold; 
                font-size:   32pt; 
                font-family: utopia, Times New Roman, Times Roman, Times, serif}
h2             {text-align:  left;
                font-weight: bold;
                font-size:   24pt;
                font-family: utopia, Times New Roman, Times Roman, Times, serif}
h3             {text-align:  left;
                font-weight: bold;
                font-size:   18pt;
                font-family: utopia, Times New Roman, Times Roman, Times, serif}
a:link         {font-weight:     bold;
                color:           blue;
		text-decoration: none}
a:active       {font-weight:     bold;
                color:           darkblue;
		text-decoration: none}
a:visited      {color:           darkblue;
		text-decoration: none}
code           {font-family:     monospace}
pre            {font-family:     monospace}

td	       {text-align:	 left}

.figure	       {text-align:	 center;
                font-weight:     bold}
.caption       {font-weight:	 bold;
                font-style:      italic;
	        text-align:	 center}

.quote         {margin-left: 2em;
	        font-weight: bold}
.quotedesc     {margin-left: 5em}
.example       {margin-left: 2em;
	        margin-right: 2em;
                font-weight: normal}
.exampledesc   {font-weight: normal;
                font-family: sans-serif;
	        font-style:  italic;
	        margin-left: 3em;
	        margin-right: 3em}
.titchy        {font-size:   8pt}
.abstract      {font-weight: normal;
                font-style:  italic}
.defn	       {font-weight: bold;
		font-size:   10pt;
		margin-top:  12pt}
.content       {font-weight: bold;
	        font-size:   15pt;
	        font-family: utopia, Times New Roman, Times Roman, Times, serif}
.red           {color:       rgb(100%, 0%, 0%)}
