<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Legacy Quest CAS file</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Default</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>LSItemContentTypes</key>
			<array>
				<string>uk.co.textadventures.cas</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Legacy Quest source file</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Default</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>LSItemContentTypes</key>
			<array>
				<string>uk.co.textadventures.asl</string>
			</array>
		</dict>
	</array>
	<key>CFBundleSignature</key>
	<string>YZZY</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>NSPrincipalClass</key>
	<string>$(PRODUCT_MODULE_NAME).Quest</string>
	<key>UTImportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
				<string>public.content</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Legacy Quest CAS file</string>
			<key>UTTypeIdentifier</key>
			<string>uk.co.textadventures.cas</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>cas</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.text</string>
				<string>public.content</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Legacy Quest source file</string>
			<key>UTTypeIdentifier</key>
			<string>uk.co.textadventures.asl</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>asl</string>
				</array>
			</dict>
		</dict>
	</array>
	<key>ZoomPlugin</key>
	<dict>
		<key>Author</key>
		<string>C.W. Betts</string>
		<key>DisplayName</key>
		<string>Quest</string>
		<key>Image</key>
		<string>GlkClient</string>
		<key>InterpreterAuthor</key>
		<string>Mark J. Tilford</string>
		<key>InterpreterVersion</key>
		<string>0.4</string>
		<key>Version</key>
		<string>$(MARKETING_VERSION)</string>
		<key>ZoomVersion</key>
		<integer>112</integer>
	</dict>
</dict>
</plist>
